:root {
  --teste-font-size: 32px;
  --vermelho:#e0131d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


a {
  color: var(--vermelho);
  text-shadow: none;
}

body {
  background: url(/conteudo/imgs/background-inicial.gif) no-repeat center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caixa {
  animation: box .7s ease-in-out;
  display: flex;
  background: #ffffff9b;
  width: 65%;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px grey;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000000a6;
  border: #e0131dcd;
  border-width: 4px;
  border-style: solid;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
  position: relative;
}

#form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  position: relative;
}

.pokebola {
  animation: pokebola 1s ease-in-out;
  z-index: 2;
}

#form .pokebola {
  width: 10%;
  position: absolute;
  top: -3%;
  left: 1%;
}

#form-cadastro .campo {
  flex-direction: column;
}

#form-cadastro .pokebola {
  width: 13%;
  position: absolute;
  top: -1%;
  left: 1%;
}

.campo {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.campo input {
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  box-shadow: 0 2px grey;
}

#boxDePoder {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#boxDePoder p {
  font-size: 15px;
  margin: 3px 0 3px 0;
}

#nmPokemon {
  background: #d6c90a6c;
}

#poderNm {
  margin: 0;
  padding-left: -10px;
  width: 50%;
  text-align: end;
}
#poderBox {
  width: 50%;
  text-align: end;
}

#poderBox p {
  margin: 3px 5px 3px 3px;
  display: inline-flexbox;
}
/* Botão */
.btn {
  background-color: #e0131d !important;
}

/* botao */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-53:hover span:nth-child(7) {
  transition-delay: 0.6s;
}

.btn-53:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

.btn-53:hover span:nth-child(9) {
  transition-delay: 0.8s;
}


@keyframes box {
  from {
    transform: scale(.5);
  }

  90% {
    transform: scale(1.2);
  }
}

@keyframes poksebola {
  to {
    transform: scale(70);
  }
}

/* mobile */
@media screen and (max-width: 768px) {

  .caixa, .campo input {
    width: 80%;
  }

  #form-cadastro .letters {
    width: 100%;
  }
}

/* tela cheia */
@media screen and (min-width: 1000px) {
  .caixa {
    width: 40%;
  }

  #form, #form-cadastro {
    gap: 30px;
  }

  #form h2 {
    margin-left: 10px;
    font-size: 3em;
  }

  #form .campo {
    width: 80%;
  }

  #form label {
    font-size: 1.2em;
  }  
}
