:root{
    --teste-font-size: 32px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0; 
  }

.btn{
    width: 100%;
}
  
  body {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.caixa{
    display: flex;
    background: rgba(96, 225, 235, 0.404);
    width: 20rem;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

#boxDePoder{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

#boxDePoder p {
    font-size: 15px;
    margin: 3px 0 3px 0;
}

#nmPokemon{
    background: rgba(214, 201, 10, 0.425);
}

#poderNm{
    margin: 0;
    padding-left: -10px;
    width: 50%;
    text-align: end;
}
#poderBox{
    width: 50%;
    text-align: end;
}

#poderBox p{
    margin: 3px 5px 3px 3px;
    display: inline-flexbox;
}
